<br>

## 2020 CAO Points

In [1]:
# Data Frames
import pandas as pd
from collections import namedtuple
import requests, PyPDF2
# Regular Expressions
import re

# Convenient HTTP Requests.
import requests as rq

# dates and times
import datetime as dt

# For downloading
import urllib.request as urlrq

##### Steps to reproduce

1. Download original PDF
2. Open PDF using Microsoft Word
3. Save MS Words convered PDF in docx format
4. Re-save Word Doc for editing
5. Delete Headers and footers
6. Delete preamble and intro on first page
7. Select all and copy
8. Paste into VS Code
9. Remove HEI Name lines and black lines
10. Change column heading "Course and intitution" to COURSE
11. Change Backticks to apostrophes
12. Replace double tab cahracter on line 28 with single tab
13. Delete tabs at end of lines 604, 670, 700, 701, 793 and 830

In [2]:
# Get Current date and time.
now = dt.datetime.now()

# Format as string
nowstr = now.strftime('%Y%m%d_%H%M%S')

In [3]:
#Create file path for original data
path = 'data/cao2020_'+ nowstr + '.xlsx'

In [4]:
# Save original file to disk
urlrq.urlretrieve('http://www2.cao.ie/points/CAOPointsCharts2020.xlsx', path)

('data/cao2020_20211109_215503.xlsx',
 <http.client.HTTPMessage at 0x1a9d07e4310>)

<br> 

## Load Spreadsheet using Pandas

In [5]:
# Download and parse the excel spreadsheet
df = pd.read_excel('http://www2.cao.ie/points/CAOPointsCharts2020.xlsx', skiprows = 10)

In [6]:
df

,CATEGORY (i.e.ISCED description),COURSE TITLE,COURSE CODE2,R1 POINTS,R1 Random *,R2 POINTS,R2 Random*,EOS,EOS Random *,EOS Mid-point,...,avp,v,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
0,Business and administration,International Business,AC120,209,NaN,NaN,NaN,209,NaN,280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Humanities (except languages),Liberal Arts,AC137,252,NaN,NaN,NaN,252,NaN,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arts,"First Year Art & Design (Common Entry,portfolio)",AD101,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arts,Graphic Design and Moving Image Design (portfo...,AD102,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arts,Textile & Surface Design and Jewellery & Objec...,AD103,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,Manufacturing and processing,Manufacturing Engineering,WD208,188,NaN,NaN,NaN,188,NaN,339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,Information and Communication Technologies (ICTs),Software Systems Development,WD210,279,NaN,NaN,NaN,279,NaN,337,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461,Information and Communication Technologies (ICTs),Creative Computing,WD211,271,NaN,NaN,NaN,271,NaN,318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1462,Personal services,Recreation and Sport Management,WD212,270,NaN,NaN,NaN,270,NaN,349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1463,Engineering and engineering trades,Mechanical and Manufacturing Engineering,WD230,253,NaN,NaN,NaN,253,NaN,369,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Spot Check Random Row
df.iloc[753]

CATEGORY (i.e.ISCED description)          Engineering and engineering trades
COURSE TITLE                        Road Transport Technology and Management
COURSE CODE2                                                           LC286
R1 POINTS                                                                264
R1 Random *                                                              NaN
R2 POINTS                                                                NaN
R2 Random*                                                               NaN
EOS                                                                      264
EOS Random *                                                             NaN
EOS Mid-point                                                            360
LEVEL                                                                      7
HEI                                         Limerick Institute of Technology
Test/Interview #                                                         NaN
avp                                                                      NaN
v                                                                        NaN
Column1                                                                  NaN
Column2                                                                  NaN
Column3                                                                  NaN
Column4                                                                  NaN
Column5                                                                  NaN
Column6                                                                  NaN
Column7                                                                  NaN
Column8                                                                  NaN
Name: 753, dtype: object

In [8]:
# Spot Check End of Data
df.iloc[-1]

CATEGORY (i.e.ISCED description)          Engineering and engineering trades
COURSE TITLE                        Mechanical and Manufacturing Engineering
COURSE CODE2                                                           WD230
R1 POINTS                                                                253
R1 Random *                                                              NaN
R2 POINTS                                                                NaN
R2 Random*                                                               NaN
EOS                                                                      253
EOS Random *                                                             NaN
EOS Mid-point                                                            369
LEVEL                                                                      8
HEI                                        Waterford Institute of Technology
Test/Interview #                                                         NaN
avp                                                                      NaN
v                                                                        NaN
Column1                                                                  NaN
Column2                                                                  NaN
Column3                                                                  NaN
Column4                                                                  NaN
Column5                                                                  NaN
Column6                                                                  NaN
Column7                                                                  NaN
Column8                                                                  NaN
Name: 1463, dtype: object

In [9]:
#Create file path for PANDAS data
path = 'data/cao2020_'+ nowstr + '.csv'

In [10]:
# Save pandas data frame to disk
df.to_csv(path)

<br>

Concatonate and Join